@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');
@font-face {
    font-family: 'Kalufonia';
    src: url('../font/kalufonia.woff') format('woff'), /* Ganti path/to/ dengan lokasi file font */
         url('../font/kalufonia.woff2') format('woff2'); /* Ganti path/to/ dengan lokasi file font */
    /* Tambahkan varian font seperti font-weight dan font-style jika diperlukan */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

section::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%; /* Increase the size to cover the entire section */
    height: 200%; /* Increase the size to cover the entire section */
    background-image: url("../images/bg.gif");
    background-size: cover;
    filter: blur(12px); /* Adjust the blur value as needed */
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
    z-index: -1;
}

.container {
    width: 85%;
    margin: auto;
    position: relative;
}


.article {
    width: 100%;
    text-align: center;
    padding: 0 20px; /* Add padding to the sides */
    transform: translateY(25vh);
}


.article h1 {
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}

.article p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.5;
    margin-bottom: 30px;
}


.article .btn {
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #7289da; /* Discord color */
    display: inline-block;
    border-radius: 20px; /* Add border-radius for rounded corners */
    transition: background-color 0.3s ease; /* Add transition effect */
}

.article .btn:hover {
    background-color: #4339fa;
}

.discord-logo {
    width: 20px; /* Set the width of the Discord logo */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align the Discord logo vertically with the text */
    margin-right: 10px; /* Add some right margin for spacing */
}

/* Add this class to style the typing animation */
.typewriter {
    overflow: hidden; /* Hide overflow to create typing effect */
    border-right: .15em solid orange; /* Cursor effect */
    white-space: nowrap; /* Keep the text in one line */
    margin: 0 auto; /* Center the text */
    animation: typing 3.5s steps(40, end); /* Adjust animation duration and steps */
}



@media only screen and (min-width: 768px) {
    .article {
        width: 60%; /* Adjust the width of the article container */
        margin: auto; /* Center the article container */
        text-align: center; /* Center-align text */
    }

    .article p {
        max-width: 80%; /* Limit the maximum width of the description text */
        margin: auto; /* Center the description text */
        margin-bottom: 40px; /* Add space below the paragraph text */
    }
    
}



/* Keyframes for the typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 13px; /* Ukuran teks pada desktop */
    font-family: 'Kalufonia', sans-serif; /* Gunakan font Kalufonia */
}

@media only screen and (max-width: 768px) {
    section::before {
        width: 180%; /* Gambar latar belakang mengambil 100% lebar layar */
        height: 180%; /* Gambar latar belakang mengambil 100% tinggi layar */
        background-size: cover; /* Gambar diatur agar mengisi seluruh area latar belakang */
        background-position: center; /* Gambar diatur agar posisinya berada di tengah */
    }
    footer {
        font-size: 11px; /* Ukuran teks pada perangkat seluler */
    }
}
.container .cover-image {
    width: 100%; /* Ensure image takes full width */
    max-height: 400px; /* Adjust max-height for smaller screens */
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

